// colors
$blue: #2c7dfa;
$blueShade: #3685ff;
$darkNavy: #1f314f;
$grey: #7d889e;
$lightGrey: #d5e1ef;
$white: #fff;

// styles
@mixin heading {
	font-weight: 700;
	font-size: 2.2rem;
}
@mixin body {
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.19px;
}
